/* ---- Code Search CSS ---- */

@import "common.scss";

/* Fonts ----- */

/* Monospaced fonts */ pre, xmp, plaintext, listing {
  line-height: 1.3em !important;
}

/* Line numbers */ div.F-b,
/* XRefs text */ .B-l>a {
  @include codefont;
  line-height: 1.3em !important;
}

/* Layout ----- */

/* Chromium logo */ .m-d, .gwt-Image,
/* Search box button */ .button100,
/* Button gradient */ .goog-button-base-top-shadow {
  display: none !important;
}
/* TD left of search box */ .m-e td:first-child {
  display: none !important;
}
/* Page border (Code page) */ .g-J,
/* Page border (Search results page) */ .x-i {
  border: 0px !important;
}
/* Code page breadcrumb bar */ .b-a {
  margin-top: 7px !important;
}
/* Breadcrumb bar (Code page) */ .b-a > div:nth-child(1) > div > div:nth-child(3),
/* Breadcrumb bar (Search results page) */ .b-a > div:nth-child(2) > div > div:nth-child(3) {
  top: 20px !important;
}
/* Main panel (Code page) */ .b-a > div:nth-child(1) > div > div:nth-child(4),
/* Main panel (Search results page) */ .b-a > div:nth-child(2) > div > div:nth-child(4) {
  top: 48px !important;
}
/* Home page search area */ .b-a > div:nth-child(3) {
  position: absolute !important;
  top: -60px !important;
}

/* Colors ----- */

/* Header */ .m-e {
  background-color: $darkBlue !important;
  margin: 0px !important;
  height: 27px !important;
}

/* Search box */ .l-o {
  background-color: $lightBlue !important;
  color: black !important;
  border: 0px !important;
}
/* Breadcrumb bar */ .t-c,
/* Search results bar */ .w-c {
  background-color: $lightBlue !important;
}
/* Button background */ .goog-button-base-inner-box {
  background: $lightGray !important;
}
/* XRefs subheaders */ .B-b,
/* Search results breadcrumbs */ .Y-a {
  background-color: $lightGray !important;
}
/* XRefs top header */ .B-m {
  background-color: $lightGray !important;
  border-top: solid 1px $lightBlue !important;
  border-bottom: solid 1px $lightBlue !important;
}
/* XRefs line numbers */ .B-i {
  color: $darkGray !important;
}
/* Search results "Show N matches" */ .pb-d {
  color: black !important;
}
/* Outer border margin (Code page) */ .g-jb,
/* Outer border margin (Search results page) */ .x-i, .w-c {
  margin: 0px !important;
}
/* Filename bar */ .g-m,
/* Navigation header */ .gwt-TabLayoutPanelTabs-outer {
  background-color: $lightGray !important;
  border-bottom: solid 1px $lightBlue !important;
}
/* Scroll gutter */ .g-Ob {
  background: $lightGray !important;
}
/* Line highlight */ .g-Ub,
/* Navigation line highlight */ .g-hb {
  background-color: $lightBlue !important;
}
/* Selection color */ ::selection {
  background: $lightBlue + 20 !important;
}
/* Selection color in seach box */ .l-o::selection {
  background: white !important;
}
/* Cross-reference highlight */ .g-H {
  background-color: #fe9 !important;
  border-radius: 10px !important;
}
/* VDragger */ .gwt-SplitLayoutPanel-VDragger,
/* HDragger */ .gwt-SplitLayoutPanel-HDragger, 
/* VDragger */ body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(5) > div,
/* HDragger */ body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(3) > div {
  /* Uses more specific CSS path, since the Dragger classes use !important */
  background-color: $lightBlue !important;    
}
/* Home page background */ .q-c {
  background-color: $lightGray !important;
}
/* Home page title font */ .q-k {
  color: $darkBlue !important;
}
/* Home page search box */ body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(3) > div > div > center > table > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(1) > td.q-j > div > input {
  background-color: white !important;
  border: 1px solid $lightBlue !important;
}

