/* ---- Code Search CSS ---- */

@import "common.scss";

/* Fonts ----- */

/* Monospaced fonts */ pre, xmp, plaintext, listing {
  line-height: 1.3em !important;
}

/* Line numbers */ .lineNumberContainer,
/* XRefs text */ .H-d, .lb-p {
  @include codefont;
  line-height: 1.3em !important;
}

/* Blame layer */ .f-g {
  @include codefont;
  line-height: 1.3em !important;
  font-size: 9pt !important;
  color: $darkBlue !important;
}

/* Layout ----- */

/* Chromium logo */ .m-i, /*.gwt-Image, */
/* Chromium logo on home page */ .s-i,
/* Search box button */ .button100,
/* Button gradient */ .goog-button-base-top-shadow {
  display: none !important;
}
/* TD left of search box */ #sandbar > div > table > tbody > tr:nth-child(1) > td:nth-child(1),
/* Shortcuts link */ #sandbar > div > div > span:nth-child(2) {
  display: none !important;
}
/* Page border (Code page) */ #browse {
  border: 0px !important;
  margin: 0px !important;
}
/* Sandbar header */ #sandbar {
  height: 27px !important;
}

/* Colors ----- */

/* Header */ .m-j {
  background-color: $darkBlue !important;
  margin: 0px !important;
  height: 27px !important;
}

/* Search box */ .l-o {
  background-color: $lightBlue !important;
  color: black !important;
  border: 0px !important;
}
/* Selection color in seach box */ .l-o::selection {
  background: white !important;
}
/* Corpus selection box */ .di-kd-extra-div {
  position: fixed !important;
  top: 0px !important;
  left: 430px !important;
}
/* Corpus selection caption */ .m-e {
  display: none !important;
}
.m-f {
  color: white !important;
}
/* Breadcrumb bar */ .x-c, #breadcrumbs,
/* Search results bar */ .B-e {
  background-color: $lightBlue !important;
  margin: 0px !important;
}
/* Button background */ .goog-button-base-inner-box {
  background: $lightGray !important;
}
/* XRefs top header */ .cs-TabLayoutPanelTabs {
  background-color: $lightGray !important;
  border-top: solid 1px $lightBlue !important;
  border-bottom: solid 1px $lightBlue !important;
}
/* XRefs subheaders */ .H-o, .H-b, .S-b,
/* Search results breadcrumbs */ .nb-a {
  background-color: $lightGray !important;
}
/* XRefs line numbers */ .H-k, .lb-l, .ab-l:link, .ab-l:active, .ab-l:visited, .ab-l:hover {
  color: #aaa !important;
}
/* Search results "Show N matches" */ .Hb-d {
  color: black !important;
}
/* Outer border margin (Code page) */ #browsecontent,
/* Outer border margin (Search results page) */ .C-i {
  margin: 0px !important;
  border: 0px !important;
}
/* Filename bar */ .content-header, .qb-h.qb-a,
/* Navigation header */ .j-a {
  background-color: $lightGray !important;
  border-bottom: solid 1px $lightBlue !important;
}
/* Scroll gutter */ .f-kb, .pagerContainer {
  background: $lightGray !important;
}
/* Line highlight */ .f-rb,
/* Navigation line highlight */ .f-hb {
  background-color: $lightBlue !important;
}
/* Selection color */ ::selection {
  background: adjust-color($lightBlue, $red: +20, $green: +20, $blue: +20) !important;
}
/* Cross-reference highlight */ .f-L {
  background-color: #fe9 !important;
  border-radius: 10px !important;
}
/* VDragger */ #leftpanel_drag,
/* HDragger */ #bottompanel_drag {
  background-color: $lightBlue !important;
}
/* Home page background */ .p-c {
  background-color: $lightGray !important;
  width: 100% !important;
  height: 100% !important;
}
/* Home page background height */ div#home {
  height: 100% !important;
  max-height: 100% !important;
}
/* Home page title font */ .s-l {
  color: $darkBlue !important;
}
/* Home page search box */ .s-k > .l-c > .l-o {
  background-color: white !important;
  border: 1px solid $lightBlue !important;
}
/* Selection color in seach box */ .s-k > .l-c > .l-o::selection {
  background: $lightBlue !important;
}
/* Blame line shading */ .f-f {
  background-color: $lightGray !important;
}

