/* Common ----- */

/* Colors */
$darkBlue: rgba(90, 140, 214, 1);
$lightBlue: rgba(164, 201, 243, 1);
$lightGray: rgba(246, 246, 245, 1);
$darkGray: #cacaca;

@mixin codefont {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important;  
}

@mixin buttonstyle {
  background: $lightGray !important;
  border: 1px solid $darkGray !important;
  border-radius: 0px !important;
  font-size: 9pt !important;
  margin: 1px !important;
}

/* Fonts */
/* Default fonts */ body, input, textarea,
/* Button text */ .goog-button-base {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important;
}
/* Monospaced fonts */ pre, xmp, plaintext, listing {
  @include codefont;
}

/* Buttons */
/* Submit buttons */ input[type=submit], input[type=reset], input[type=button],
/* Select menus */ select {
  @include buttonstyle;
}
/* Submit buttons (hover) */ input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
/* Select menus (hover) */ select:hover {
  background: $lightGray + 20 !important;
}
/* Submit buttons (focus) */ input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
/* Select menus (focus) */ select:focus {
  background: $lightGray - 20 !important;
}
