/* ---- Chromium Bug CSS ---- */

@import "common.scss";

/* Fonts ----- */

/* Comment box */ textarea#addCommentTextArea,
/* New bug description */ textarea[name="comment"] {
  @include codefont;
}

/* Issue header */ .h3 {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important;
}

/* Layout ----- */

/* Top banner (minus signin links) */ .headbg div:not(#gaia), .headbg table,
/* Favorites link */ #projects-dropdown,
/* Top menu */ .gtb,
/* Search button */ .subt input[type=submit],
/* Issue list tip box */ .cuetip,
/* Page footer */ #footer,
/* Footer hosting label */ .hostedBy {
  display: none !important;
}

/* Issue title */ #issueheader, .issuemetaheader {
  margin: 0px !important;
  padding: 5px !important;
  border: 0px !important;
  background: $lightBlue !important;
}
/* Above issue title */ body.t3 {
  margin: 0px !important;
}
/* Right of issue title */
#meta-container > tbody > tr:nth-child(1) > td.vt.issueheader,
#meta-container > tbody > tr:nth-child(2) > td:nth-child(3) {
  border-right: 0px !important;
}

/* Around main content area */ #maincol, .issuepage td  {
  padding: 3px 0px 0px 0px !important;
}

/* Colors ----- */

/* Sign in */ #gaia {
  color: white !important;
  position: relative !important;
  float: right !important;
  z-index: 1 !important;
  padding: 9px !important;
  margin: 0px !important;
  font-size: 0pt !important;
}
/* Sign in links */ #gaia a {
  color: white !important;
  font-size: 10pt !important;
  padding-left: 5px !important;
}
/* Sign in link decoration */ #gaia a:not(:hover) u {
  text-decoration: none !important;
}
/* Search bar */ .subt,
/* Issue List header text */ .issueList .inIssueList span {
  background: $darkBlue !important;
  border: 0px !important;
  color: white !important;
  font-weight: normal !important;
}
/* Search bar */ .subt {
  position: absolute !important;
  top: 0px !important;
  width: 100% !important;
  padding: 7px 7px 7px 14px !important;
  height: 21px !important;
  font-size: 10pt !important;
}
/* Search bar links */ .subt a:link:not(.buttonify), .subt a:focus:not(.buttonify), .subt a:visited:not(.buttonify) {
  color: $lightGray !important;
}
/* Google Buttons */ .buttonify,
/* Search box */ .subt input[type=text] {
  @include buttonstyle;
}
/* Google Buttons (hover) */ .buttonify:hover {
  background: adjust-color($lightGray, $red: +20, $green: +20, $blue: +20) !important;
}
/* Google Buttons (focus) */ .buttonify:focus {
  background: adjust-color($lightGray, $red: -20, $green: -20, $blue: -20) !important;
}
/* Search box autocomplete */ #ac-list {
  color: $darkBlue !important;
  background-color: $lightGray !important;
}
/* Search box autocomplete selection */ #ac-list .selected {
  background-color: $lightBlue !important;
}
/* Search results header */ .results th, .results_lite th {
  background-color: $lightBlue !important;
}
/* Page links */ a:link:not(.buttonify), a:focus:not(.buttonify), a:visited:not(.buttonify) {
  color: adjust-color($darkBlue, $red: -20, $green: -20, $blue: -20) !important;
}
/* Issue title */ #issueheader td, td.issueheader, .issuemetaheader,
/* Tips */ .tip {
  background: $lightBlue !important;
}
/* Issue title for closed bugs */
.closed_colors #issueheader td,
.closed_colors td.issueheader,
.closed_colors .issuemetaheader, {
  background: adjust-color($lightGray, $red: -20, $green: -20, $blue: -20) !important;
  color: black !important;
}
/* Status updates for closed bugs */ .closed_colors .updates, .closed_colors td.issueheader a {
  background: adjust-color($lightGray, $red: -20, $green: -20, $blue: -20) !important;
}
/* Sidebar */ #issuemeta {
  padding-left: 3px !important;
  padding-bottom: 5px !important;
  border-right: 3px solid $lightBlue !important;
  border-bottom: 3px solid $lightBlue !important;
  border-top: 0px !important;
  background-color: $lightGray !important;
}
/* Comment area header */ .issuecomment {
  border-top: 3px solid $lightBlue !important;
}
/* Comment header */ .issuecommentheader {
  background-color: white !important;
}
/* Status updates in comments */ .updates {
  background: $lightGray !important;
  border-radius: 5px !important;
  padding: 3px !important;
}
/* Add a comment header */ div.h4 {
  background-color: $lightBlue !important;
  border-top: 1px solid $darkBlue !important;
}
/* Issue list header */ .list {
  background-color: $lightGray !important;
}
