/* ---- Git Blame CSS ---- */

@import "common.scss";

/* Fonts ----- */

/* Code */ .prettyprint {
    font-family: "Ubuntu Mono", "Monaco" !important;
    font-size: 9pt !important;
}

/* Layout ----- */

/* Top banner */ html body h1 {
    display: none !important;
}
/* ? */ .breadcrumbs {
    margin-top: 0px !important;
    font-size: 12pt !important;
}

