/* ---- Code Review CSS ---- */

/* Update fonts */
body {
    font-family: "Roboto", "Gill Sans" !important;
}

#issue-description, div.inline-comment, pre, xmp, plaintext, listing {
    font-family: "Ubuntu Mono", "Monaco" !important;
    font-size: 10pt !important;
}

.olddark, .newdark, .oldreplace, .olddelete, .oldinsert, .oldequal, .oldblank,
.oldlight, .newlight, .oldreplace1, .newreplace1,
.newreplace, .newdelete, .newinsert, .newequal, .newblank,
.oldmove, .oldchangemove, .oldchangemove1, .oldmove_out, .oldchangemove_out,
.newmove, .newchangemove,
.udiffadd, .udiffremove, .udiff, .debug-info {
  white-space: pre;
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  vertical-align: top;
}

/* Layout */
.mainmenu, .mainmenu2, .counter, div.extra, .help, body > div:nth-child(3) > div, body > div:nth-child(11) {
  display: none;
}
body > div:nth-child(3) {
  /* Sign in */
  float: right;
}

/* Colors */
.issue-details .meta {
  background-color: rgba(246, 246, 245, 1) !important;
  border-right: 2px solid rgba(90, 140, 214, 1) !important;
  border-bottom: 2px solid rgba(90, 140, 214, 1) !important;
  border-top: 2px solid rgba(90, 140, 214, 1) !important;
}
.issue-list {
  background-color: rgba(164, 201, 243, 1) !important;
  border: 1px solid rgba(90, 140, 214, 1) !important;
  border-bottom: 2px solid rgba(90, 140, 214, 1) !important;
}
