/* ---- Code Review CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
body, input, textarea,
.goog-button-base {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important; }

pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* Fonts ----- */
/* CL Description */
#issue-description,
#issue-description, div.inline-comment {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* CL description edit box */
textarea#id_description {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important;
  /* ~= cols=80 */
  width: 560px !important; }

/* Code review area */
/* TODO: Do the last 2 lines need to be in the font section? */
.olddark, .newdark, .oldreplace, .olddelete, .oldinsert, .oldequal, .oldblank,
.oldlight, .newlight, .oldreplace1, .newreplace1,
.newreplace, .newdelete, .newinsert, .newequal, .newblank,
.oldmove, .oldchangemove, .oldchangemove1, .oldmove_out, .oldchangemove_out,
.newmove, .newchangemove,
.udiffadd, .udiffremove, .udiff, .debug-info {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important;
  white-space: pre;
  vertical-align: top; }

/* Layout ----- */
body {
  margin: 0px; }

/* Menu at top */
.mainmenu,
.counter,
div.extra,
.help,
body > div:nth-child(3) > div,
body > div:nth-child(11) {
  display: none; }

.mainmenu2 {
  height: 0px !important;
  margin: 0px !important;
  font-size: 0px !important; }

.mainmenu2 :not(:nth-child(3)) {
  display: none; }

/* Open Issues (when signed in) */
body > div.mainmenu2 > a:nth-child(3) {
  color: white !important;
  position: absolute !important;
  font-size: 10pt !important;
  top: 5px !important;
  left: 5px !important; }

body > div.mainmenu2 > a:not(:hover) {
  text-decoration: none !important; }

/* Issue title */
body > div:nth-child(8) > div:nth-child(2) {
  width: 100% !important; }

/* Sign-in link */
body > div:nth-child(3) {
  float: right !important;
  font-size: 0pt !important; }

/* Sign-in link */
body > div:nth-child(3) b, body > div:nth-child(3) a {
  font-size: 10pt !important; }

/* Sign-in link */
body > div:nth-child(3) a:not(:hover) {
  text-decoration: none !important; }

/* Chromium Project link */
body > div:nth-child(3) > a:nth-last-child(2),
body > div:nth-child(3) > a:nth-last-child(3) {
  display: none !important; }

/* More Reviews link */
body > div:nth-child(8) > table > tbody > tr > td.meta > div.issue_details_sidebar > div:nth-child(9) {
  display: none !important; }

/* Issue title within review */
body > div:nth-child(8) > div:nth-child(4) {
  width: 100% !important; }

/* Issue header on issue list */
body > div:nth-child(8) > h2 {
  display: block !important; }

/* Issue header gap on issue list */
body > div:nth-child(8) > p {
  display: none !important; }

/* Issue list footer */
body > div:nth-child(10) {
  display: none !important; }

/* Advanced review settings box */
body > div:nth-child(8) > div:nth-child(5) {
  display: none !important; }

/* Colors ----- */
/* Issue title */
h2 {
  background: #a4c9f3 !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 7px !important; }

/* Header */
body > div:nth-child(3),
body > div:nth-child(3) a {
  background: #5a8cd6 !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 5px !important;
  color: white !important; }

/* Sidebar table */
.issue-details {
  border-spacing: 0px !important; }

/* Sidebar */
.issue-details .meta {
  background-color: #f6f6f5 !important;
  border-right: 2px solid #a4c9f3 !important;
  border-bottom: 2px solid #a4c9f3 !important; }

/* List of issues */
.issue-list {
  background-color: #f6f6f5 !important;
  border: 1px solid #a4c9f3 !important;
  -webkit-border-radius: 0px !important; }

/* Issue list headers */
.issue-list .header {
  background-color: #f6f6f5 !important;
  border: 0px !important; }
