/* ---- Code Search CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
/* Default fonts */
body, input, textarea,
.goog-button-base, .gr-button-0 {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important; }

/* Monospaced fonts */
pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important; }

/* Buttons */
/* Submit buttons */
input[type=submit], input[type=reset], input[type=button], button,
select {
  background: #f6f6f5 !important;
  border: 1px solid #cacaca !important;
  border-radius: 0px !important;
  font-size: 9pt !important;
  margin: 1px !important; }

/* Submit buttons (hover) */
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
select:hover {
  background: white !important; }

/* Submit buttons (focus) */
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
select:focus {
  background: #e2e2e1 !important; }

/* Fonts ----- */
/* Monospaced fonts */
pre, xmp, plaintext, listing {
  line-height: 1.3em !important; }

/* Line numbers */
.lineNumberContainer,
.E-j {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* Blame layer */
.f-g {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important;
  font-size: 9pt !important;
  color: #5a8cd6 !important; }

/* Layout ----- */
/* Chromium logo */
.l-f, .gwt-Image,
.q-i,
.button100,
.goog-button-base-top-shadow {
  display: none !important; }

/* TD left of search box */
.l-g td:first-child {
  display: none !important; }

/* Page border (Code page) */
#browse {
  border: 0px !important;
  margin: 0px !important; }

/* Breadcrumb bar (Code page) */
body > div#browse:nth-child(4),
#sandbar {
  height: 27px !important; }

/* Colors ----- */
/* Header */
.l-g {
  background-color: #5a8cd6 !important;
  margin: 0px !important;
  height: 27px !important; }

/* Search box */
.k-o {
  background-color: #a4c9f3 !important;
  color: black !important;
  border: 0px !important; }

/* Selection color in seach box */
.k-o::selection {
  background: white !important; }

/* Breadcrumb bar */
.v-c, #breadcrumbs,
.y-c {
  background-color: #a4c9f3 !important;
  margin: 0px !important; }

/* Button background */
.goog-button-base-inner-box {
  background: #f6f6f5 !important; }

/* XRefs top header */
.cs-TabLayoutPanelTabs {
  background-color: #f6f6f5 !important;
  border-top: solid 1px #a4c9f3 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* XRefs subheaders */
.E-n, .E-b,
.eb-a {
  background-color: #f6f6f5 !important; }

/* XRefs line numbers */
.E-j, .ab-l:link, .ab-l:active, .ab-l:visited, .ab-l:hover {
  color: #cacaca !important; }

/* Search results "Show N matches" */
.zb-d {
  color: black !important; }

/* Outer border margin (Code page) */
#browsecontent,
.z-i {
  margin: 0px !important;
  border: 0px !important; }

/* Filename bar */
.content-header, .hb-g, .hb-a,
.j-a {
  background-color: #f6f6f5 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* Scroll gutter */
.f-kb, .pagerContainer {
  background: #f6f6f5 !important; }

/* Line highlight */
.f-rb,
.f-hb {
  background-color: #a4c9f3 !important; }

/* Selection color */
::selection {
  background: #b8ddff !important; }

/* Cross-reference highlight */
.f-L {
  background-color: #fe9 !important;
  border-radius: 10px !important; }

/* VDragger */
#leftpanel_drag,
#bottompanel_drag {
  background-color: #a4c9f3 !important; }

/* Home page background */
.p-c {
  background-color: #f6f6f5 !important;
  width: 100% !important;
  height: 100% !important; }

/* Home page background height */
div#home {
  height: 100% !important;
  max-height: 100% !important; }

/* Home page title font */
.q-l {
  color: #5a8cd6 !important; }

/* Home page search box */
.q-k > .k-c > .k-o {
  background-color: white !important;
  border: 1px solid #a4c9f3 !important; }

/* Selection color in seach box */
.q-k > .k-c > .k-o::selection {
  background: #a4c9f3 !important; }

/* Blame line shading */
.f-f {
  background-color: #f6f6f5 !important; }
