/* ---- Code Search CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
/* Default fonts */
body, input, textarea,
.goog-button-base {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important; }

/* Monospaced fonts */
pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important; }

/* Buttons */
/* Submit buttons */
input[type=submit], input[type=reset], input[type=button], button,
select {
  background: #f6f6f5 !important;
  border: 1px solid #cacaca !important;
  border-radius: 0px !important;
  font-size: 9pt !important;
  margin: 1px !important; }

/* Submit buttons (hover) */
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
select:hover {
  background: white !important; }

/* Submit buttons (focus) */
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
select:focus {
  background: #e2e2e1 !important; }

/* Fonts ----- */
/* Monospaced fonts */
pre, xmp, plaintext, listing {
  line-height: 1.3em !important; }

/* Line numbers */
div.F-b,
.B-l > a {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* Layout ----- */
/* Chromium logo */
.m-d, .gwt-Image,
.button100,
.goog-button-base-top-shadow {
  display: none !important; }

/* TD left of search box */
.m-e td:first-child {
  display: none !important; }

/* Page border (Code page) */
.g-J,
.x-i {
  border: 0px !important; }

/* Code page breadcrumb bar */
.b-a {
  margin-top: 7px !important; }

/* Breadcrumb bar (Code page) */
.b-a > div:nth-child(1) > div > div:nth-child(3),
.b-a > div:nth-child(2) > div > div:nth-child(3) {
  top: 20px !important; }

/* Main panel (Code page) */
.b-a > div:nth-child(1) > div > div:nth-child(4),
.b-a > div:nth-child(2) > div > div:nth-child(4) {
  top: 48px !important; }

/* Home page search area */
.b-a > div:nth-child(3) {
  position: absolute !important;
  top: -60px !important; }

/* Colors ----- */
/* Header */
.m-e {
  background-color: #5a8cd6 !important;
  margin: 0px !important;
  height: 27px !important; }

/* Search box */
.l-o {
  background-color: #a4c9f3 !important;
  color: black !important;
  border: 0px !important; }

/* Breadcrumb bar */
.t-c,
.w-c {
  background-color: #a4c9f3 !important; }

/* Button background */
.goog-button-base-inner-box {
  background: #f6f6f5 !important; }

/* XRefs subheaders */
.B-b,
.Y-a {
  background-color: #f6f6f5 !important; }

/* XRefs top header */
.B-m {
  background-color: #f6f6f5 !important;
  border-top: solid 1px #a4c9f3 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* XRefs line numbers */
.B-i {
  color: #cacaca !important; }

/* Search results "Show N matches" */
.pb-d {
  color: black !important; }

/* Outer border margin (Code page) */
.g-jb,
.x-i, .w-c {
  margin: 0px !important; }

/* Filename bar */
.g-m,
.gwt-TabLayoutPanelTabs-outer {
  background-color: #f6f6f5 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* Scroll gutter */
.g-Ob {
  background: #f6f6f5 !important; }

/* Line highlight */
.g-Ub,
.g-hb {
  background-color: #a4c9f3 !important; }

/* Selection color */
::selection {
  background: #b8ddff !important; }

/* Selection color in seach box */
.l-o::selection {
  background: white !important; }

/* Cross-reference highlight */
.g-H {
  background-color: #fe9 !important;
  border-radius: 10px !important; }

/* VDragger */
.gwt-SplitLayoutPanel-VDragger,
.gwt-SplitLayoutPanel-HDragger,
body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(5) > div,
body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(3) > div {
  /* Uses more specific CSS path, since the Dragger classes use !important */
  background-color: #a4c9f3 !important; }

/* Home page background */
.q-c {
  background-color: #f6f6f5 !important; }

/* Home page title font */
.q-k {
  color: #5a8cd6 !important; }

/* Home page search box */
body > div:nth-child(5) > div:nth-child(3) > div > div:nth-child(3) > div > div > center > table > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(1) > td.q-j > div > input {
  background-color: white !important;
  border: 1px solid #a4c9f3 !important; }
