/* ---- Code Search CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
/* Default fonts */
body, input, textarea,
.goog-button-base {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important; }

/* Monospaced fonts */
pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important; }

/* Buttons */
/* Submit buttons */
input[type=submit], input[type=reset], input[type=button], button,
select {
  background: #f6f6f5 !important;
  border: 1px solid #cacaca !important;
  border-radius: 0px !important;
  font-size: 9pt !important;
  margin: 1px !important; }

/* Submit buttons (hover) */
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
select:hover {
  background: white !important; }

/* Submit buttons (focus) */
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
select:focus {
  background: #e2e2e1 !important; }

/* Fonts ----- */
/* Monospaced fonts */
pre, xmp, plaintext, listing {
  line-height: 1.3em !important; }

/* Line numbers */
.lineNumberContainer,
.A-m > a {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* Layout ----- */
/* Chromium logo */
.l-d, .gwt-Image,
.q-h,
.button100,
.goog-button-base-top-shadow {
  display: none !important; }

/* TD left of search box */
.l-e td:first-child {
  display: none !important; }

/* Page border (Code page) */
#browse {
  border: 0px !important;
  margin: 0px !important; }

/* Breadcrumb bar (Code page) */
body > div#browse:nth-child(4),
body > div#results:nth-child(3) {
  top: 27px !important; }

/* Colors ----- */
/* Header */
.l-e {
  background-color: #5a8cd6 !important;
  margin: 0px !important;
  height: 27px !important; }

/* Search box */
.k-o {
  background-color: #a4c9f3 !important;
  color: black !important;
  border: 0px !important; }

/* Breadcrumb bar */
.t-c, #breadcrumbs,
.w-c {
  background-color: #a4c9f3 !important;
  margin: 0px !important; }

/* Button background */
.goog-button-base-inner-box {
  background: #f6f6f5 !important; }

/* XRefs top header */
.A-n {
  background-color: #f6f6f5 !important;
  border-top: solid 1px #a4c9f3 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* XRefs subheaders */
.A-b, .H-b,
.X-a {
  background-color: #f6f6f5 !important; }

/* XRefs line numbers */
.A-j, .ab-l:link, .ab-l:active, .ab-l:visited, .ab-l:hover {
  color: #cacaca !important; }

/* Search results "Show N matches" */
.sb-d {
  color: black !important; }

/* Outer border margin (Code page) */
#browsecontent,
.x-i, .w-c {
  margin: 0px !important;
  border: 0px !important; }

/* Filename bar */
.content-header,
.gwt-TabLayoutPanelTabs-outer {
  background-color: #f6f6f5 !important;
  border-bottom: solid 1px #a4c9f3 !important; }

/* Scroll gutter */
.g-Nb, .pagerContainer {
  background: #f6f6f5 !important; }

/* Line highlight */
.g-Tb,
.g-Sb {
  background-color: #a4c9f3 !important; }

/* Selection color */
::selection {
  background: #b8ddff !important; }

/* Selection color in seach box */
.k-o::selection {
  background: white !important; }

/* Cross-reference highlight */
.g-L {
  background-color: #fe9 !important;
  border-radius: 10px !important; }

/* VDragger */
#leftpanel_drag,
#bottompanel_drag {
  background-color: #a4c9f3 !important; }

/* Home page background */
.q-c {
  background-color: #f6f6f5 !important;
  width: 100% !important;
  height: 100% !important; }

/* Home page background height */
div#home {
  height: 100% !important;
  max-height: 100% !important; }

/* Home page title font */
.q-k {
  color: #5a8cd6 !important; }

/* Home page search box */
.q-j > .k-c > .k-o {
  background-color: white !important;
  border: 1px solid #a4c9f3 !important; }
