/* ---- Chromium Bug CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
body, input, textarea,
.goog-button-base {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important; }

pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
  line-height: 1.3em !important; }

/* TODO: Fix label edit box colors */
/* Layout ----- */
/* Top banner */
.headbg,
.gtb,
.subt input[type=submit],
#footer,
.hostedBy {
  display: none !important; }

/* Whitespace in header */
.sandbar {
  height: 0px !important; }

/* Issue title */
#issueheader {
  margin: 0px !important;
  padding: 5px !important;
  border: 0px !important;
  background: #a4c9f3 !important; }

/* ? */
body.t3 {
  margin: 0px !important; }

/* ? */
#maincol {
  padding: 0px !important; }

/* Colors ----- */
/* Search bar */
.subt {
  background: #5a8cd6 !important;
  border: 0px !important;
  color: white !important; }

/* Search bar links */
.subt a:link:not(.buttonify), .subt a:focus:not(.buttonify), .subt a:visited:not(.buttonify) {
  color: #f6f6f5 !important; }

/* Google Buttons */
.buttonify,
.inIssueList #can,
.subt input[type=text] {
  background: #f6f6f5 !important;
  border: 1px solid #cacaca !important; }

/* Search box autocomplete */
#ac-list {
  color: #5a8cd6;
  background-color: #f6f6f5; }

/* Search box autocomplete selection */
#ac-list .selected {
  background-color: #a4c9f3; }

/* Page links */
a:link:not(.buttonify), a:focus:not(.buttonify), a:visited:not(.buttonify) {
  color: #4678c2 !important; }

/* Issue title */
#issueheader td {
  background: #a4c9f3 !important; }

/* Issue title for closed bugs */
.closed_colors #issueheader td {
  /* TODO: $gray - 10? */
  background: #ddd !important; }

/* Sidebar */
#issuemeta {
  padding-left: 3px !important;
  border-right: 3px solid #a4c9f3 !important;
  border-bottom: 3px solid #a4c9f3 !important;
  background-color: #f6f6f5 !important; }

/* Comment area header */
.issuecomment {
  border-top: 3px solid #a4c9f3 !important; }

/* ? */
.updates {
  background: #f6f6f5 !important; }

/* ? */
div.h4, table.h4 {
  background-color: #a4c9f3 !important;
  border-top: 1px solid #5a8cd6 !important; }
