/* ---- Git Blame CSS ---- */
/* Common ----- */
/* Colors */
/* Fonts */
/* Default fonts */
body, input, textarea,
.goog-button-base, .gr-button-0 {
  font-family: "Roboto", "Gill Sans", "Sans Serif" !important;
}

/* Monospaced fonts */
pre, xmp, plaintext, listing {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 10pt !important;
}

/* Buttons */
/* Submit buttons */
input[type=submit], input[type=reset], input[type=button], button,
select {
  background: #f6f6f5 !important;
  border: 1px solid #cacaca !important;
  border-radius: 0px !important;
  font-size: 9pt !important;
  margin: 1px !important;
}

/* Submit buttons (hover) */
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
select:hover {
  background: white !important;
}

/* Submit buttons (focus) */
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
select:focus {
  background: #e2e2e1 !important;
}

/* Fonts ----- */
/* Code */
.prettyprint, .u-monospace {
  font-family: "Ubuntu Mono", "Monaco" !important;
  font-size: 9pt !important;
}

/* Layout and colors ----- */
@media screen {
  body {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
  }

  html {
    padding-top: 0px !important;
  }
}
/* Logo */
.Header-image,
.Footer {
  display: none !important;
}

/* Top banner */
.Header {
  padding: 0px !important;
}

/* Top menu */
.Header-menu {
  position: inherit !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 3px !important;
  background-color: #5a8cd6 !important;
  color: white !important;
}

/* Top menu links */
.Header-menu a {
  color: white !important;
}

/* Between top menu links */
.Header-menu .entry {
  border: 0px !important;
}

/* General page content */
.Container {
  max-width: unset !important;
}

/* Content margin */
.Site-content {
  padding: 0px !important;
}

/* Content area for file list */
.RepoShortlog,
.DiffTree {
  margin-left: 10px !important;
}

/* Filename breadcrumbs */
.Breadcrumbs {
  margin: 0px !important;
  font-size: 12pt !important;
  width: 100% !important;
  padding: 3px !important;
  background-color: #a4c9f3 !important;
}

/* Git hash */
.BlobSha1 {
  margin: 0px !important;
}

/* Git blame */
.Blame {
  position: absolute !important;
}
